@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Montserrat' ,sans-serif;
}
html {
    width: 100vw;
    height: 100vh;
}
body {
    padding: 3%;
    overflow: hidden;
}
.site-content {
    position: relative;
    overflow: hidden;   
    height: 100%;
    width: 100%;
}
.chart_wrapper {
    width: 100vw;
    height: 93vh;
    overflow-x: scroll;
    position: relative;
}