.node {
    cursor: pointer;
}
.node circle {}
.node text {
    font: 12px sans-serif;
    word-wrap: break-word;
    white-space: nowrap;
}
.link {
    fill: none;
    stroke: rgb(55, 68, 105);
    stroke-width: 1px;
}
svg {
    width: auto;
    height: auto;
}